@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Adicione isso ao seu arquivo CSS ou dentro de um <style> no componente */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    min-width: 120px; /* Ajuste conforme necessário */
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    margin: 5% auto;
  }
}
body {
  background: #f0f8ff;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-page-background {
  background: #f0f8ff; 
}